<!DOCTYPE html>
<html lang="en">
<head>
	{% comment METAS %}
	<meta charset="UTF-8">

	{% comment CSS %}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.3/dist/css/uikit.min.css" />

	{% comment JS %}
	<script src="https://cdn.jsdelivr.net/npm/uikit@3.5.3/dist/js/uikit.min.js"></script>
	{% block js %}{% end %}

	{% if title %}
		<title> ShortThat - {{ title }} </title>
	{% else %}
		<title> ShortThat </title>
	{% end %}
</head>
<body>
	{% block body %}
		<h1> Welcome to ShortThat </h1>
	{% end %}
</body>
</html>