{% extends "layouts/base.html" %}

{% block js %}
	<script>
		const regex = /https?:\/\/(www\.)?[-a-zA-Z0-9@:%._\+~#=]{1,256}\.[a-zA-Z0-9()]{1,6}\b([-a-zA-Z0-9()@:%_\+.~#?&//=]*)/i

		document.addEventListener('DOMContentLoaded', () => {
			document.getElementById('url').value = ''
			document.getElementById('surl').value = ''
		})

		async function short() {
			let url = document.getElementById('url')
			let surl = document.getElementById('surl')

			if (surl.value != '') {
				return true
			}

			if (!regex.test(url.value)) {
				url.classList.add('uk-form-danger')
				return false
			}

			url.classList.remove('uk-form-danger')
			url.disabled = true

			let res = await fetch('/api', {
				method: 'POST',
				headers: new Headers({
					'Content-Type': 'application/json'
				}),
				body: JSON.stringify({
					url: url.value
				})
			}).then(out => out.json())
			url.disabled = true
			surl.value = window.location.origin + '/url/' + res.id

			return true
		}

		function copy(el) {
			el.select(0, el.value.length)
			document.execCommand("copy")
		}
	</script>
{% end %}

{% block body %}
	<div uk-grid>
		<div class="uk-width-1-3@s uk-width-3-8@m"></div>
		<div class="uk-width-1 uk-width-1-3@s uk-width-2-8@m">
			<div style="margin-top: 3em;margin-right: 0.5em;margin-left: 0.5em;" class="uk-form-stacked">
				<h1>Short your URL</h1>
				<hr>
				<div>
					<label for="url" class="uk-form-label">URL</label>
					<div class="uk-form-controls">
						<input type="text" id="url" class="uk-input" placeholder="Type you URL">
					</div>
				</div>	
				<br>
				<div>
					<label for="surl" class="uk-form-label">Shorted URL</label>
					<div class="uk-form-controls">
						<input type="text" id="surl" onclick="copy(this)" class="uk-input" placeholder="Here will show your Link">
					</div>
				</div>
				<hr>
				<div class="uk-form-controls">
					<button style="width: 100%" onclick="short()" class="uk-button uk-button-primary">Short That!!!</button>
				</div>
				<br>
				<div class="uk-form-controls">
					<button style="width: 100%" onclick="location.reload()" class="uk-button uk-button-default">Reset</button>
				</div>
			</div>
		</div>
	</div>
{% end %}