{% extends "layouts/base.html" %}


{% block body %}
	<div uk-grid>
		<div class="uk-width-1-3@s uk-width-3-8@m"></div>
		<div style="margin-top: 5em;" class="uk-width-1 uk-width-1-3@s uk-width-2-8@m">
			<a style="width: 100%" href="{{ url }}" class="uk-button uk-button-default">Enter the link</a>
			<a style="width: 100%" href="/" class="uk-button uk-button-primary">Short your link</a>
		</div>
	</div>
{% end %}